body {
	text-align: center;
	font-family: "Comic Sans MS", "Comic Sans", cursive;
	background: rgb(25,24,41);
	background: linear-gradient(90deg, rgba(25,24,41,1) 0%, rgba(37,35,64,1) 50%, rgba(25,24,41,1) 100%);
}

img {
	padding-top: 10px;
}

footer {
	color: white;
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 1rem;
}

.container {
    display: flex;
    justify-content: center;
    margin: auto;
    max-height: 70vh;
    max-width: 100%;
    overflow: hidden;
}

.dropbtn {
    background-color: #f79833;
    color: black;
    padding: 16px;
    font-size: 16px;
    min-width: 120px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.but {
	border: none;
    position: relative;
	display: inline-block;
}

.butt{
	padding: 16px;
    font-size: 16px;
	min-width: 120px;
	background-color: #0e0f0f;
	color: white;
	border: 3px solid #363636;
	z-index: 1;
}

.butt a {
	color: white;
	font-family: Verdana;
	font-size: 12pt;
	text-decoration: none;
}

.butt p {
    margin-block: 0;
}

.but :hover{
	background-color: #404040;
	display: block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #22263d;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: white;
	font-family: Verdana;
	font-size: 12pt;
    padding: 12px 16px;
	text-align: left;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
	background-color: #2c314d;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #8736a1;
}

#random-meme {
    display: block;
    object-fit: contain;
    max-height: 100%;
    max-width: 100%;
}